styles.css
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px;
    @media (max-width: 768px) {
        margin-left: 0px;
        margin-top: 40px;
      }
  }
  
  .name-container {
    text-align: center;
    margin-bottom: 20px;
    display:block;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .avatar-container {
    width: 100%; /* Ensures the avatar takes full width */
    max-width: 400px; /* Limits the avatar size on larger screens */
    margin-left: 40px;
    
    
  }
  
  /* Media query for mobile devices */
  @media (max-width: 768px) {
    .avatar-container {
      max-width: 100%; /* Avatar takes full width on smaller screens */
    }
  }
  